

<!--TODO  сделать для каждой страницы, что бы подгружало само-->
<ul>
  <% if user_signed_in? %>
    <%= link_to "Edit Profile", edit_user_registration_path,class:"nav-link" %>
    <%= link_to "Sign Out", destroy_user_session_path,method: :delete,class:"nav-link" %>
 <%else %>
<!--Для проверки разные способы, как я понял верхний лучше-->
    <a href="users/sign_up">Регистрация</a></li>
    <a href="users/sign_in">Вход</a>
  <%end%>

</ul>
<!--TODO-->


<% @theme.each do |theme|%>
  <center>
    <p><%= theme.name_of_theme %></p>
    <% if current_user.admin%>
      <%= link_to theme.name_of_theme,post_path(theme) %>
      <%= link_to "Edit",theme_edit_path(theme) %>
      <%= link_to "Delete",theme_delete_path(theme),data: {method: :delete,confirm:"Уверен?"} %>
  <%end%>
    <br>
  </center>
<% end %>
